header img{
    height: 110px;
}
nav a{
    text-decoration: none;
    color: rgb(62, 83, 54);
    font-size:25px;
    padding: 5px 15px;
    font-family: 'aladin';
    transform: 1s;
}
header{
    text-align: center;
    background-color: rgba(255, 250, 224, 0.966);
    color: rgb(0, 0, 0);
    font-size: large;
}
nav a :hover{
    color: rgb(59, 160, 39);
    transition: 0.7s;
    border-radius: 20px 20px 20px 20px;
    padding: 7px 20px;
    background-color: rgba(195, 248, 218, 0.623);
}
body{
    margin:0;
}